*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: Roboto, Arial;
}

.section1{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 400px;
    align-items: center;
    gap: 70px
}
.header{
    display: flex;
    color: white;
    width: 750px;
    /* min-width: 600px; */ 
    margin-top: 17px;
    align-items: center;
}

.logo{
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    cursor: pointer;
}
.links{
    display: flex;
    column-gap: 20px;
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;

}
.links li{
    cursor: pointer;
}
.links li:hover{
    color: #fbfbfb;
}
.content{
    display: flex;
    width: 750px;
    column-gap:20px ;
}

.text,
.image{
    width: 50%;
}


.title{
    color: #f9faf8;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 7px;

}

.paragraph{
    color: #e5e7eb;
    font-size: 15px;
    margin-bottom: 11px;
}

.signup-button{
    padding: 6px;
    width:110px;
    background-color: #3882f6;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all .25s ease;
}
.signup-button:hover{
    /* opacity: .75; */
    /* border: 1px solid #3882f6; */
    background-color: white;
    color: #3882f6;
}


.image{
    display: flex;
    background-color: rgb(134, 133, 133);
    align-items: center;
    justify-content: center;
    color: white;
}

.section2{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    align-items: center;
    gap: 20px;
}

.section-title{
    font-size: 30px;
    color: #1f2937;
    font-weight: 900;
}

.card-section{
    display: flex;
    gap: 35px;
    margin-top: 15px;
    margin-bottom: 60px;
}
.card{
    width: 110px;
    text-align: center;
    font-size: 12px;
    color: #787879;

}
.box{
    display: block;
    border: 3px solid #3882f6;
    height: 110px;
    width: 110px;
    border-radius: 7px;
    margin-bottom: 5px;
}

.section3{
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
}
.section-holder{
    display: flex;
    flex-direction: column;
    width: 650px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.quote{
    font-size: 28px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}
.author{
    font-weight: 700;
    align-self: flex-end;
}

.section4{
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.action-call{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    height: 100px;
    width: 700px;
    border-radius: 7px;
    gap: 80px;
}

.action-title{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.action-subtitle{
    color: white;
    font-size: 14px;
    font-weight: lighter;
}

.action-button{
    background-color: #3882f6;
    border: 1.5px solid white;
    color: white;
    padding: 5px;
    width: 100px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .15s ease;
}

.action-button:hover{
    /* opacity: .75; */
    border: 1.5px solid #3882f6;
    background-color: white;
    color: #3882f6;
}

.action-button:active{
    margin-top: 10px;
    /* padding: 8px; */
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #1f2937;
    color: rgba(255, 255, 255, 0.777);
    font-size: 12px;

}